#include <stdio.h>
#include <stdlib.h>

int main() {
    float t1, t2, t3;

    // Введення значень t1, t2, t3 з клавіатури
    scanf("%f %f %f", &t1, &t2, &t3);

    float total_time = t1;

    // Порівняння t2 з t1 та збереження більшого значення в total_time
    if(t2 > t1)
    {
        total_time = t2;
    }

    // Порівняння t3 з t1 та збереження більшого значення в total_time
    if(t3 > t1)
    {
        total_time = t3;
    }

    // Виведення середнього значення total_time, поділеного на 3
    printf("%.2f\n", total_time / 3.0);

    // Зупинка виконання програми, очікування натиснення користувачем будь-якої клавіші
    system("pause");

    // Повернення значення 0, що вказує на успішне завершення програми
    return 0;
}
